<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/384ea4421e.js" crossorigin="anonymous"></script>
  <title>My Favorite Spots</title>
  <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
  <link rel="icon" type="image/x-icon" href="https://icons8.com/icon/UTjxwpLTDSre/ico">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header> 
<div class="flex-column justify-space-around">      
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Spots <i class="fa-solid fa-map-location-dot"></i></a> <p>Login To Save Your Favorites!</p>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        </form>
      </div>
    </div>
  </nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile"></a> 
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login" button class="btn btn-outline-success login" type="submit">Login</button></a>
        {{/if}}
      </nav>
  </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    
  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top" > 
      <p>&copy; 2023 Kraus & Co., Inc. All rights reserved.</p>
    </div>
  </footer>
</div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
