body, html {
  margin: 0%;
  font-family: 'Prompt', sans-serif;
  height: 100%;
  width: 100%;
  background-image: url("../images/buggie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: antiquewhite;
}


header, .project:not(:last-child) {
  border-bottom: 1px solid #0c0c0c;
  /* background-color: #DEEBF3; */ 
}

main {
  background-color: aliceblue;
  opacity: 0.75;
  border-radius: 2%;
  margin: 5% 0;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


