body, html {
  margin: 0%;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 100%;
  background-image: url("../images/buggie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #FCD47F;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: #FCD57F;
  font-size: 45px;
  color: #E2922D;
  text-align: center;
}

.container {
  border-radius: 25px;
}

.login {
  float:right;
  margin-left: 1100px;
}
.navbar-brand {
  background-color: #FCD57F;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: black;
  display: inline-flex;
  font-size: medium;
}

.no-button:hover {
  color: #A86455;
  text-decoration: underline;
}

.image-size {
  max-height: 250px;
}

.autocomplete-container {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  position: relative;
}

.input-container input {
  flex: 1;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 31px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;
  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}
